/* common style or utilites  */

/* .................navigatio part...........  */
.horizontal-rule{
    margin-top: 90px;
}
/* Adding cursor in FAQ  */
.cursor{
    cursor: url(hand.cur), pointer;
}
/* For Accordian  */
.accordian-style{
    margin-left: 50%;
    margin-top: 35%;
}

/* For allNews  */
.color{
    color: gray;
    font-weight: 500;
    cursor: url(hand.cur), pointer;
}
.color:hover{
    color: rgb(8, 8, 235);
}

